
.color-total{
    background: #27AE60;
    color:white;
    padding:5px 10px 5px 10px;
    border-radius: 10px;
    border: none;
}

.color-exit{
    background: #EB5757;
    color:white;
    border-radius: 20px;
    border: none;
    padding:2px 30px 2px 30px;
}