<div class="ms-font-montserrat mat-title ms-color-11">
    <mat-icon class="ms-icons-color" style="position: relative; top: 5px; font-size: 1.5em;">attach_money</mat-icon> Totales
</div>
<mat-divider></mat-divider>

<mat-dialog-content style="min-width:300px;">
    <div class="w3-row">
        <div class="w3-third">
            <div class="w3-margin">
                <p class="ms-font-montserrat mat-subheading-2 ms-color-11">Caja (Efectivo)</p>
                <table class="w3-table w3-striped w3-border mat-elevation-z8">
                    <tr>
                        <th style="min-width:100px">Fuente</th>
                        <th>Importe</th>
                    </tr>
                    <tr class="w3-border-top w3-border-gray">
                        <td>Importe inicial:</td>
                        <td>S/ 3000.00</td>
                      <!--   <td>{{currentOpening ? (currentOpening.openingBalance | currency : 'S/.') : '---'}}</td> -->
                    </tr>
                    <tr>
                        <td>Total Ingresos:</td>
                        <!-- <td>{{data.totalTicketsByPaymentType['EFECTIVO'] | currency : 'S/.'}}</td> -->
                    </tr>
                    <tr>
                        <td>Egresos:</td>
<!--                         <td>{{data.totalDeparturesByPaymentType['EFECTIVO'] | currency : 'S/.'}}</td>
 -->                    </tr>
                    <tr class="w3-border-top w3-border-gray">
                        <td>Saldo Total</td>
                        <td > <span class="color-total" >S/. 9130.00</span> </td>
                        <!-- <td>{{((data.totalTicketsByPaymentType['EFECTIVO'] - data.totalDeparturesByPaymentType['EFECTIVO']) + (currentOpening ? currentOpening.openingBalance : 0)) | currency : 'S/.'}}
                        </td> -->
                    </tr>
                </table>
            </div>
        </div>
        <div class="w3-third">
            <div class="w3-margin">
                <p class="ms-font-montserrat mat-subheading2 ms-color-11">Ingresos por tipo</p>
                <table class="w3-table w3-striped w3-border mat-elevation-z8">
                    <tr>
                        <th style="min-width:50px">Fuente</th>
                        <th>Importe</th>
                    </tr>
                    <tr class="w3-border-top w3-border-gray">
                        <td>Venta Efectivo:</td>
                        <td>S/ 500.00</td>
                        <!-- <td>{{data.totalTicketsByPaymentType['TARJETA VISA'] | currency : 'S/.'}}</td> -->
                    </tr>
                    <tr>
                        <td>Ventas Tarjeta Visa:</td>
                        <!-- <td>{{data.totalTicketsByPaymentType['TARJETA MASTERCARD'] | currency : 'S/.'}}</td> -->
                    </tr>
                    <tr>
                        <td>Ventas Tarjeta Yape:</td>
                        <!-- <td>{{data.totalTicketsByPaymentType['TARJETA ESTILOS'] | currency : 'S/.'}}</td> -->
                    </tr>
                    <tr>
                        <td>Ingresos efectivo:</td>
                        <!-- <td>{{data.totalTicketsByPaymentType['EFECTIVO'] | currency : 'S/.'}}</td> -->
                    </tr>
                    <tr class="w3-border-top w3-border-gray">
                        <td>Total</td>
                        <td > <span class="color-total" >S/.9130.00</span></td>

                        <!-- <td>{{data.totalTickets | currency : 'S/.'}}</td> -->
                    </tr>
                </table>
            </div>
        </div>
        <div class="w3-third">
            <div class="w3-margin">
                <p class="ms-font-montserrat mat-subheading2 ms-color-11">Egresos por tipo</p>
                <table class="w3-table w3-striped w3-border mat-elevation-z8">
                    <tr>
                        <th style="min-width:100px">Fuente</th>
                        <th>Importe</th>
                    </tr>
                    <tr class="w3-border-top w3-border-gray">
                        <td>Transferencia:</td>
                        <td>S/ 300.00</td>
                        <!-- <td>{{data.totalDeparturesByPaymentType['TRANSFERENCIA'] | currency : 'S/.'}}</td> -->
                    </tr>
                    <tr>
                        <td>Egresos:</td>
                        <!-- <td>{{data.totalDeparturesByPaymentType['EFECTIVO'] | currency : 'S/.'}}</td> -->
                    </tr>
                    <tr class="w3-border-top w3-border-gray">
                        <td>Total Egresos</td>
                        <td > <span class="color-total" >S/. 9130.00</span> </td>
                        <!-- <td>{{data.totalDepartures | currency : 'S/.'}}</td> -->
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <!-- <p class="ms-font-montserrat ms-color-11 mat-subheading-1">Balance inicial: <span>{{}}</span></p>
    <p class="ms-font-montserrat ms-color-11 mat-subheading-1">Ingresos: <span>+ {{}}</span></p>
    <p class="ms-font-montserrat ms-color-11 mat-subheading-1">Egresos: <span>- {{}}</span></p>
    <p class="ms-font-montserrat ms-color-11 mat-subheading-1">Total: <span>{{}}</span></p> -->
</mat-dialog-content>

<mat-divider class="w3-margin-top"></mat-divider>
<mat-dialog-actions align="end">
    <button mat-stroked-button class="w3-margin-right color-exit" mat-dialog-close>Cerrar</button>
</mat-dialog-actions>