.title-login {
    font-family: Raleway;
    font-size: 0.8em;
    font-weight: 700;
    width: 80%;
}

.social--register {
    background: #fcd652;
}

.social--google {
    background: #DE5246;
    color: white;
}

.social--facebook {
    background: #3B5998;
    color: white;
}

.password{
    margin-top:-6px;
    cursor: pointer;
}

