.title-login {
    font-family: Raleway;
    font-size: 0.8em;
    font-weight: 700;
    width: 80%;
}

.social--register {
    background: #fcd652;
}

.social--google {
    background: #5FA73A;
    color: white;
}

.social--facebook {
    background: #267034;
    color: white;
}

.password{
    margin-top:-6px;
    cursor: pointer;
}

