.title-login {
    font-family: Raleway;
    font-size: 0.8em;
    font-weight: 700;
    width: 80%;
}

.social--register {
    background: #fcd652;
}

.social--google {
    background: #eb5757;
}

.social--facebook {
    background: #2d9cdb;
}
