<div class="w3-section">
    <div class="w3-padding">
        <mat-form-field appearance="outline" class="w3-block">
            <mat-label>Buscar</mat-label>
            <input matInput placeholder="Buscar Producto" autocomplete="off">
            <mat-icon matPrefix style="vertical-align: middle;margin-right: 5px;">search</mat-icon>
        </mat-form-field>
        <div>
            <mat-card style="border-radius: 20px;box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);">
                <div class="ms-flex" style="justify-content: space-between; align-items: center;">
                    <div style="width: 35%;">
                        <img src="../../../assets/images/producto.png" style="width: 100%;" alt="producto">
                    </div>
                    <div style="width: 60%; font-size: 0.62em;">
                        <div class="ms-flex" style="justify-content: space-between; align-items: center;">
                            <div style="font-size: 2em; font-weight: bold;">Tilsit</div>
                            <div style="color: #EB5757;text-decoration-line: underline;">En abastecimiento</div>
                            <button mat-icon-button color='accent'>
                                <mat-icon>local_dining</mat-icon>
                            </button>

                        </div>
                        <p style="margin-top: 0;">Elaborado de leche pasteurizada de vaca, posee un contenido graso que
                            oscila entre 30 hasta
                            el 60%. El Tilsiter es un queso con textura consistente.</p>
                        <div class="ms-flex" style="justify-content: space-between;">
                            <div>
                                <span style="color: #BDBDBD;">Precio por kg</span>

                                <div class="ms-flex" style="align-items: flex-end;">
                                    <div class="price">
                                        S/. 30.00
                                    </div>
                                    <div class="percent">
                                        -15%
                                    </div>
                                </div>


                            </div>
                            <button mat-mini-fab color='accent'>
                                <mat-icon>add</mat-icon>
                            </button>
                        </div>
                    </div>
                </div>
            </mat-card>
        </div>
    </div>
</div>