.title2 {
    width: fit-content;
    border-bottom: 4px solid #5da92f;
    font-weight: bold;
    font-size: 1.4em;
    line-height: 1.4em;
    margin-top: 0;
}

.fly-button {
    position: fixed;
    bottom: 15px;
    left: 15px;
}

.category{
    margin-right: 8px;
}

.category.green{
    color: white;
    background: #5da92f;
}

.shopping-button {
    background: #fdd651;
    border-radius: 50%;
    text-align: center;
    padding: 16px 20px;
    cursor: pointer;
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14),
        0px 1px 18px 0px rgba(0, 0, 0, 0.12);

    &__icon {
        font-size: 2em;
    }

    &__total {
        margin-top: -3px;
        font-size: 0.9em;
        font-weight: bold;
    }
}

.movil-form.shadow {
    position: fixed;
    z-index: 5;
    width: 83%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    padding: 15px 15px 5px 0px;
}

.search-form {
    width: 80%;
}

.search-form .search-input {
    width: 350px;
    margin-right: 16px;
}

@media only screen and (min-width: 1160px) {
    .product-div {
        width: 25vw;
        min-width: 305px;
    }
}

@media only screen and (max-width: 1159px) and (min-width: 800px) {
    .product-div {
        max-width: 410px;
        width: 38vw;
    }
}

@media only screen and (max-width: 799px) {
    .product-div {
        width: 100%;
    }
}

@media (max-width: 600px) {
    .search-form .search-input {
        width: 100%;
        margin: 0;
    }
}
