<div class="w3-section w3-hide-large w3-hide-medium">
    <div class="w3-padding formFieldRounded" *ngIf="(view$|async)==1">
        <mat-form-field appearance="outline" class="w3-block">
            <mat-label>Buscar</mat-label>
            <input matInput [formControl]="searchForm" placeholder="Buscar Producto" autocomplete="off">
            <mat-icon matPrefix style="vertical-align: middle;margin-right: 5px;">search</mat-icon>
        </mat-form-field>
    <button mat-raised-button (click)="onCreateEditRecipe(false, null)">Receta</button>

        <div *ngIf="products$ | async as products">
            <mat-card class="product w3-margin-bottom" *ngFor="let product of products">
                <div class="ms-flex product__container">
                    <div class="product__image">
                        <img [src]="product.photoURL" style="width: 100%;" alt="producto">
                    </div>
                    <div class="product__descrip">
                        <div class="ms-flex product__container">
                            <div class="product__title">{{product.description | titlecase}}</div>
                            <!--div class="product__provision">En abastecimiento</div-->
                            <button mat-icon-button color='accent'>
                                <mat-icon>local_dining</mat-icon>
                            </button>
                        </div>
                        <p class="product__paragraph">{{product.additionalDescription}}</p>
                        <div class="ms-flex product__container">
                            <div>
                                <div class="product__etiquet">Precio por kg</div>
                                <div class="ms-flex" style="align-items: flex-end;">
                                    <div class="product__price">
                                        <span style="font-size: 0.65em">S/. </span>
                                        <span>{{product.price | number: '.2'}}</span>
                                    </div>
                                    <div class="product__percent" *ngIf="product.promo">
                                        -15%
                                    </div>
                                </div>
                            </div>
                            <button mat-mini-fab color='accent' (click)="add(product)">
                                <mat-icon>add</mat-icon>
                            </button>
                        </div>
                    </div>
                </div>
            </mat-card>
        </div>
        <div class="fly-button" *ngIf="total>0">
            <div class="shopping-button background--secondary" (click)="shoppingCart()">
                <mat-icon>shopping_basket</mat-icon>
                <div class="total">S/. {{total | number: '.2'}}</div>
            </div>
        </div>
    </div>
    <div class="w3-padding" *ngIf="(view$|async)==2">
        <div class="ms-flex ms-flex--center">
            <button mat-icon-button style="margin-left: -10px; margin-top: -10px;" (click)="back()">
                <mat-icon>keyboard_backspace</mat-icon>
            </button>
            <h2 class="title2 w3-margin-left">Lista de compras 🛒</h2>
        </div>
        <app-shopping-cart></app-shopping-cart>

        <button *ngIf="auth.user$ | async; else register" mat-raised-button color="accent" class="w3-block"
            (click)="finish()" style=" font-weight: bold;">
            Continuar con la compra
            <mat-icon class="w3-margin-left">arrow_forward</mat-icon>
        </button>
        <ng-template #register>
            <button mat-raised-button color="accent" class="w3-block" (click)="login()"
                style=" font-weight: bold;">
                Continuar con la compra
                <mat-icon class="w3-margin-left">arrow_forward</mat-icon>
            </button>
        </ng-template>
    </div>
    <div class="w3-padding" *ngIf="(view$|async)==3">
        <div class="ms-flex ms-flex--center">
            <button mat-icon-button style="margin-left: -10px; margin-top: -10px;" (click)="shoppingCart()">
                <mat-icon>keyboard_backspace</mat-icon>
            </button>
            <h2 class="title2">Es tu primera compra 😊</h2>
        </div>
        <p>Hola cheese lover, gracias por tu preferencia. Comencemos anotando tus datos</p>
        <app-purchase></app-purchase>
    </div>
</div>