
.container-login-cash{
    margin-left: 33.3%;
    align-items: center;
    margin-top: 100px;
}

.login-form{
    width: 400px;
}
.btn-container-submit{
    
    text-align: center;
}
.btn-submit{
    background: #FF7B19;
    color: #ffffff;
    font-size: 20px;
    border-radius: 20px;
    border: none;
    padding:5px 25px 5px 25px ;
}
.icon{
    position: relative;
    top: 0px;
}