.admin {
    &__container {
        max-width: 800px;
        padding: 0 25px;
    }

    &__input {
        margin-right: 16px;
    }

    &__title {
        font-family: "Raleway", sans-serif;
        font-size: 1em;
        font-weight: 900;
    }

    &__list {
        padding-inline-start: 0px;
    }

    &__item {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        margin: 10px 0;
    }
}

@media (max-width: 600px) {
    .admin {
        &__container {
            padding: 0px;
        }

        &__input {
            width: 100%;
            max-width: 300px;
        }
    }
}

.row-category {
    display: flex;
    flex-wrap: wrap;
}

.banner__category {
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    margin-top: 16px;
    margin-right: 16px;
}

.banner__image {
    width: 220px;
    height: 130px;
    border-radius: 5px 5px 0 0;
    object-fit: cover;
}

.banner__frame {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    position: relative;
    margin: 0 20px 20px 0;
}

.category-img {
    object-fit: cover;
    border-radius: 20px;
    width: 100%;
    height: 100%;
}

.banner__list {
    width: 100%;
    max-width: 400px;
    border-style: dashed;
    border-width: 1px;
    padding: 10px;
    min-height: 60px;
    display: block;
    overflow: hidden;
    border-radius: 5px;
}

.banner__box {
    cursor: move;
    font-size: 0.9em;
    margin: 5px 0;
}

.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14),
        0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
    opacity: 0;
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.banner__list.cdk-drop-list-dragging .banner__box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

@media (max-width: 600px) {
    .banner__frame {
        margin: 0 0 20px 0;
    }
}


@media only screen and (min-width: 1500px) {
    .banner__frame {
        width: 11.4vw;
        height: 7.8vw;
    }
}

@media only screen and (max-width: 1499px) and (min-width: 901px) {
    .banner__frame {
        width: 15vw;
        height: 9vw;
    }
}

@media only screen and (max-width: 900px) and (min-width: 500px) {
    .banner__frame {
        width: 22.8vw;
        height: 13.2vw;
    }
}

@media only screen and (max-width: 499px) {
    .banner__frame {
        width: 100%;
        height: 40vw;
    }
}