table {
  text-align: center;
  width: 100%;
  overflow: hidden;
  //border-collapse: collapse;
  font-size: 12px;
  margin: 1em 0em;
}

.removeIcon {
  vertical-align: middle;
  cursor: pointer;
  color: var(--primary-color);
}