.ticket__div{
    margin: 15px 0;
    color: #828282;
    font-size: 0.83em;
    letter-spacing: 0.03em;
}

.mensaje {
    margin-top: 0.5em;
    padding: 1em 1em;
    border: 2px solid #5da92f;
    border-radius: 10px 10px;
    font-size: 0.9em;
}