::ng-deep .agm-map-container-inner {
    border: 2px solid #5da92f;
    border-radius: 20px;
}

.pay {
    justify-content: space-between;
    align-items: baseline;
    font-size: 0.8em;

    &__total {
        text-transform: uppercase;
        font-weight: 700;
        font-size: 1.5em;
    }
}

.voucher {
    border: 1px solid #4f4f4f;
    box-sizing: border-box;
    border-radius: 5px;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.account {
    font-family: Roboto;
    color: #828282;
    font-size: 1.2em;
}

.subtitle {
    font-family: Raleway;
    font-size: 1.2em;
}
