.header {
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 37px;
    display: flex;
    flex-direction: row;
    // justify-content: space-between;
}

.warn {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 28px;
}

.mat-dialog-content {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #929292;
}

.totalPrice {
    padding: 16px;
    margin-bottom: 1em;
    height: 56px;
    background: var(--primary-color);
    box-shadow: 0px 5.66077px 5.66077px rgba(0, 0, 0, 0.25);
    border-radius: 10px;

    font-weight: 900;
    font-size: 2em;
    line-height: 41px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.05em;
    font-feature-settings: "pnum" on, "lnum" on;

    color: #f2f2f2;
}

.search {
    line-height: 17px;
    width: 100%;
    padding: 0px 0px;
}

.fill {
    flex: auto 1 1;
}
.example-option-img {
    vertical-align: middle;
    margin-right: 8px;
}
