<div mat-dialog-title>
  <h2 class="ms-font-rubik ms-color-2b" style="font-size:1.2em">
      <mat-icon style="vertical-align:middle">add_circle</mat-icon>
      Editando Unidades
  </h2>
  <mat-divider></mat-divider>
</div>
<mat-dialog-content>
  <form *ngIf="units$ | async else cargando"
    [formGroup]="unitFormGroup" 
    style="width: 100%" >
    <mat-form-field style="margin-bottom: 8px; display:block"
      appearance="outline">
        <mat-label>Ingrese Descripción</mat-label>
        <input formControlName="description" #description
            maxlength="15"
            type="text" autocomplete="off"
            matInput placeholder="Ingrese descripción">
        <mat-error>
            <span *ngIf="unitFormGroup.get('description').errors?.required">Campo requerido</span>
            <span *ngIf="unitFormGroup.get('description').errors?.repeated">Esta descripción ya existe.</span>
        </mat-error>
        <mat-hint align="end">{{description.value?.length || 0}}/15</mat-hint>
    </mat-form-field>

    <mat-form-field style="margin-bottom: 8px; display:block"
      appearance="outline">
        <mat-label>Ingrese Abreviatura</mat-label>
        <input formControlName="abbreviation" #abbreviation
            maxlength="6"
            type="text" autocomplete="off"
            matInput placeholder="Ingrese abreviatura">
        <mat-error>
            <span *ngIf="unitFormGroup.get('abbreviation').errors?.required">Campo requerido</span>
            <span *ngIf="unitFormGroup.get('abbreviation').errors?.repeated">Esta abreviatura ya existe.</span>
        </mat-error>
        <mat-hint align="end">{{abbreviation.value?.length || 0}}/6</mat-hint>
    </mat-form-field>

    <mat-form-field style="margin-bottom: 8px; display:block"
      appearance="outline">
        <mat-label>Peso en KG</mat-label>
        <input formControlName="weight" #weight
            type="number" autocomplete="off"
            matInput placeholder="Peso en KG">
        <mat-error>
            <span *ngIf="unitFormGroup.get('weight').errors?.required">Campo requerido</span>
            <span *ngIf="unitFormGroup.get('weight').errors?.min">El peso debe ser mayor a 0.</span>
            <span *ngIf="unitFormGroup.get('weight').errors?.max">El peso no puede exceder 3.5KG.</span>
        </mat-error>
        <mat-hint align="start">Peso correspondiente.</mat-hint>
    </mat-form-field>

    <button mat-raised-button style="display:block; width: 100%; margin-bottom: 16px"
      [disabled]="unitFormGroup.status != 'VALID'"
      (click)="addUnit()">
        <mat-icon>add_circle</mat-icon>
    </button>

    <!-- <div *ngFor="let unit of units"
      style="display:flex; flex-direction: row; justify-content: space-between;
      margin-bottom: 8px; margin-top: 8px">
        <span>{{unit}}</span>
        <button mat-icon-button (click)="deleteUnit(unit)">
          <mat-icon>delete</mat-icon>
        </button>
    </div> -->

    <div *ngFor="let unit of units"
      class="inputsContainer">
      <div class="bullet">
          {{unit.description}} ({{unit.abbreviation}}) - {{unit.weight}}KG
      </div>
      <div>
        <button type="button"
          mat-icon-button color="primary"
          (click)="deleteUnit(unit)">
          <mat-icon>remove_circle</mat-icon>
        </button>
      </div>
    </div>

  </form>

  <ng-template #cargando>
    Cargando contenido...
  </ng-template>
  <mat-divider></mat-divider>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-stroked-button type="button" class="w3-margin-right" mat-dialog-close>Cancelar</button>
  <button mat-raised-button color="accent" (click)="onSubmitForm()" type="button"
      [disabled]="!units.length || unitFormGroup.pending">Guardar</button>
</mat-dialog-actions>
