<div style="max-width: 320px;">
    <div mat-dialog-title>
        <h2 class="title-dialog">
            Deshacer validación
        </h2>
        <mat-divider></mat-divider>
        <mat-progress-bar *ngIf="loading$ | async" mode="indeterminate"></mat-progress-bar>
    </div>

    <div mat-dialog-content>
        <p>¿Desea continuar con la acción?</p>
        <p>Se borrará todos los cambios realizados anteriormente</p>
    </div>

    <div class="contain">
        <button mat-raised-button mat-dialog-close  >Cerrar</button>
        <button class="w3-margin-left" mat-raised-button color='accent'
            [disabled]="loading$ | async" (click)="undoValidated(data.item)">Deshacer</button>
    </div>
</div>