<div class="general-container background-color">
    <div style="display: flex; flex-direction: row; justify-content: space-between;">
        <b style="font-size: 28px;">
            #{{sale.correlativeType}}{{getCorrelative(sale.correlative)}}
        </b>
        <span>
            <button style="height: 40px;"
                (click)="onCancelSale()" 
                mat-raised-button
                color="accent"
                type="button">
                <b>ATENDER</b>
            </button>
        </span>
        <span>
            <button (click)="onCancelSale()" 
                mat-mini-fab
                color="warn"
                type="button">
                <mat-icon>close</mat-icon>
            </button>
        </span>
    </div>
    <div *ngIf="products$ | async as products"
        class="actionsContainer formFieldRounded">
        <mat-form-field class="content w3-small"
            style="display: block; width:100%; margin-bottom: 0;"
            appearance="outline">
            <mat-icon matPrefix></mat-icon>
            <mat-label>Buscar producto</mat-label>
            <input [formControl]="searchProductControl" #product
            type="text" autocomplete="off"
            matInput placeholder="Buscar producto"
            [matAutocomplete]="auto">
            <mat-autocomplete
                #auto="matAutocomplete" autoActiveFirstOption 
                [displayWith]="displayFn.bind(this)">
            <mat-option *ngFor="let product of products" [value]="product">
                {{product.description}}
            </mat-option>
            </mat-autocomplete>
            <mat-error>
                <span *ngIf="searchProductControl.errors?.required">Campo requerido</span>
            </mat-error>
        </mat-form-field>
    </div>
    <div class="w3-margin-top">
        <table [formGroup]="productForm" class="table-sale">
            <tr>
                <th>Cant.</th>
                <th>Descripción</th>
                <th>Precio</th>
            </tr>
            <tr formArrayName="productList"
                *ngFor="let item of productForm.get('productList')['controls']; let i = index">

                <div [formGroupName]="i" style="display:contents">
                    <!-- Quantity -->
                    <td class="table-sale__td table-sale__td--space">
                        <input autocomplete="off" class="table-sale__input--thin" 
                                formControlName="quantity" type="number" max=99
                                min=0 required>
                        ({{item.get('product').value['unit']['abbreviation']}})
                    </td>
                    <!-- Description -->
                    <td class="table-sale__td table-sale__td--space" style="overflow: auto;" >

                        <!-- Normal -->
                        <span *ngIf="!item.get('product').value.promo">
                            {{item.get('product').value.description}} 
                            <mat-icon style="cursor: pointer; font-size:medium; width:auto"
                                matTooltip="{{item.get('product').value.price | currency: 'S/. '}} por {{item.get('product').value.unit.abbreviation}}">
                                info
                            </mat-icon>
                        </span>
                        <!-- We have promo-->
                        <div *ngIf="item.get('product').value.promo" class="table-sale__colum">
                            <p>
                                {{item.get('product').value.description}} 
                                <mat-icon style="cursor: pointer; font-size:medium; width:auto"
                                    matTooltip="Precio: {{item.get('product').value.price | currency: 'S/. '}} por {{item.get('product').value.unit.abbreviation}}">
                                    info
                                </mat-icon>
                                <mat-icon style="cursor: pointer; font-size:medium; width:auto"
                                    matTooltip="Oferta ({{onFloor(item.get('quantity').value, item.get('product').value.promoData.quantity)}}): 
                                    {{item.get('product').value.promoData.quantity}} {{(item.get('product').value.unit.abbreviation)}}
                                    X
                                    {{item.get('product').value.promoData.promoPrice | currency: 'S/. '}}">
                                    new_releases
                                </mat-icon>
                            </p>
                            <!-- <div class="table-sale__descrip">
                                {{item.get('product').value.price | currency: 'S/. '}}/{{item.get('product').value.unit.abbreviation}}
                            </div> -->
                            <!-- <div class="table-sale__descrip">
                                <<div>
                                    Oferta:
                                </div> 
                                <div>
                                    {{onFloor(item.get('quantity').value, item.get('product').value.promoData.quantity)}}
                                    ({{item.get('product').value.promoData.quantity}}{{(item.get('product').value.unit.abbreviation)}}
                                    X
                                    {{item.get('product').value.promoData.promoPrice | currency: 'S/. '}})
                                </div>
                            </div> -->
                            <!-- <ng-container
                                *ngIf="item.get('quantity').value % item.get('product').value.promoData.quantity">
                                <div class="table-sale__descrip">
                                    <div>
                                        Sin oferta:
                                    </div>
                                    <div>
                                        {{item.get('quantity').value % item.get('product').value.promoData.quantity}}
                                        {{item.get('product').value.unit.abbreviation}}
                                        ({{item.get('product').value.price | currency: 'S/. '}}/{{item.get('product').value.unit.abbreviation}})
                                    </div>
                                </div>
                            </ng-container> -->

                        </div>

                    </td>
                    <!-- price -->
                    <td class="w3-right-align table-sale__td table-sale__td--space">
                        {{item.get('price').value | currency: 'S/. '}}
                        <!-- S/. <input autocomplete="off" style="width: 54px"
                            formControlName="price" type="number"required min=0> -->
                    </td>
                </div>
            </tr>
            <tr>
                <td class="table-sale__td table-sale__td--border"></td>
                <td class="w3-right-align table-sale__td table-sale__td--border">
                    SubTotal
                </td>
                <td class="w3-left-align table-sale__td table-sale__td--border table-sale__td--space">
                    <ng-container *ngIf="individualPrice$ | async"></ng-container>
                    <ng-container *ngIf="totalPrice$ | async">
                        <span>{{this.productForm.get('totalPrice').value -
                        this.productForm.get('totalPrice').value/1.18*0.18 | currency:'S/. '}}
                        </span>
                    </ng-container>
                </td>
            </tr>
            <tr>
                <td class="table-sale__td"></td>
                <td class="w3-right-align table-sale__td">
                    I.G.V
                </td>
                <td class="w3-left-align table-sale__td table-sale__td--space">
                    <ng-container *ngIf="individualPrice$ | async"></ng-container>
                    <ng-container *ngIf="totalPrice$ | async">
                        <span>
                            {{this.productForm.get('totalPrice').value/1.18*0.18 | currency:'S/. '}}
                        </span>
                    </ng-container>
                </td>
            </tr>
            <tr>
                <td class="table-sale__td"></td>
                <td class="w3-right-align table-sale__td">
                    Total
                </td>
                <td class="w3-left-align table-sale__td table-sale__td--space">
                    <ng-container *ngIf="individualPrice$ | async"></ng-container>
                    <ng-container *ngIf="totalPrice$ | async">
                        <span>
                            {{this.productForm.get('totalPrice').value | currency:'S/. '}}
                        </span>
                    </ng-container>
                </td>
            </tr>
            <tr>
                <td class="table-sale__td table-sale__td--border"></td>
                <td class="w3-right-align table-sale__td table-sale__td--border">
                    Delivery
                </td>
                <td class="w3-right-align table-sale__td table-sale__td--border table-sale__td--space">
                    S/. <input autocomplete="off" class="table-sale__input--width" formControlName="deliveryPrice" type="number"
                        required min=0>
                </td>
            </tr>
        </table>
    </div>
    <div class="total-div">
        <div class="bigCheckbox">
            <mat-checkbox color="primary"></mat-checkbox>
        </div>
        <div class="photo">
            <span>Foto</span>
        </div>
        <div class="ticket__total">
            <span style="white-space: nowrap;">
                {{productForm.get('totalPrice').value + productForm.get('deliveryPrice').value | currency:'S/. '}}
            </span>
        </div>
    </div>
    <div class="voucher-div">
        <div class="photo-number">
            <span>02 voucher</span>
        </div>
        <div class="availability">
            Ver disponibilidad
        </div>
    </div>

    <div 
        style="width: 100%; margin-top: 10px;
            display:flex; flex-direction: row; justify-content: space-between"> 
        <!-- realStock  -->
        <mat-form-field style="width: 48%"
          appearance="outline">
          <mat-label>F. Solicitud</mat-label>
          <input autocomplete="off"
            type="text"
            matInput placeholder="F. Solicitud">
          <mat-error>
              <!-- <span *ngIf="productForm.get('realStock').errors?.required">Campo requerido</span>
              <span *ngIf="productForm.get('realStock').errors?.min">Solo positivos</span> -->
          </mat-error>
        </mat-form-field>
        
        <!-- mermaStock  -->
        <mat-form-field style="width: 48%"
          appearance="outline">
          <mat-label>F. Asignada</mat-label>
          <input autocomplete="off"
            type="text"
            matInput placeholder="F. Asignada">
          <mat-error>
              <!-- <span *ngIf="productForm.get('mermaStock').errors?.required">Campo requerido</span>
              <span *ngIf="productForm.get('mermaStock').errors?.min">Solo positivos</span> -->
          </mat-error>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field appearance="outline" style="width: 100%">
            <mat-label>Observaciones</mat-label>
            <textarea #observation 
              style="min-height: 50px;"
              matInput maxlength="150"></textarea>
            <mat-hint align="end">{{observation.value?.length || 0}}/150</mat-hint>
        </mat-form-field>
    </div>

    <div 
        style="width: 100%;
            display:flex; flex-direction: row; justify-content: space-between"> 
        <!-- realStock  -->
        <mat-form-field style="width: 32%"
          appearance="outline">
          <mat-label>Tipo de Comp.</mat-label>
          <input autocomplete="off"
            type="text"
            matInput placeholder="Tipo de Comp.">
          <mat-error>
              <!-- <span *ngIf="productForm.get('realStock').errors?.required">Campo requerido</span>
              <span *ngIf="productForm.get('realStock').errors?.min">Solo positivos</span> -->
          </mat-error>
        </mat-form-field>
        
        <!-- mermaStock  -->
        <mat-form-field style="width: 64%"
          appearance="outline">
          <mat-label>Número de Comprobante</mat-label>
          <input autocomplete="off"
            type="text"
            matInput placeholder="Número de Comprobante">
          <mat-error>
              <!-- <span *ngIf="productForm.get('mermaStock').errors?.required">Campo requerido</span>
              <span *ngIf="productForm.get('mermaStock').errors?.min">Solo positivos</span> -->
          </mat-error>
        </mat-form-field>
    </div>

    <div style="width: 100%;
            display:flex; flex-direction: row; justify-content: space-between"> 
        <!-- realStock  -->
        <div style="width: 32%; display: flex;
            flex-direction: column; justify-content: center;">
            <div style="display: flex; justify-content: center;">
                <mat-slide-toggle color="primary"></mat-slide-toggle>
            </div>
            <div style="display: flex; justify-content: space-evenly;">
                <span>Biker</span>
                <span>Moto</span>
            </div>
        </div>
        
        <!-- mermaStock  -->
        <mat-form-field style="width: 64%"
          appearance="outline">
          <mat-label>Asignar empresa de delivery.</mat-label>
          <input autocomplete="off"
            type="text"
            matInput placeholder="Asignar empresa de delivery.">
          <mat-error>
              <!-- <span *ngIf="productForm.get('mermaStock').errors?.required">Campo requerido</span>
              <span *ngIf="productForm.get('mermaStock').errors?.min">Solo positivos</span> -->
          </mat-error>
        </mat-form-field>
    </div>
    

    <button *ngIf="sale.status == 'Solicitado'" class="w3-block w3-margin-top" mat-raised-button color="accent"
        (click)="onSubmitForm()" type="button" [disabled]="productForm.status != 'VALID'"><b>Confirmar</b></button>


</div>