<div *ngIf="auth.user$ | async as user" class="general-container background-color">
    <div style="display: flex; flex-direction: row; justify-content: space-between;">
        <b style="font-size: 28px;">
            #{{sale.correlativeType}}{{getCorrelative(sale.correlative)}}
        </b>
        <span>
            <button 
                *ngIf="sale.status == saleStatusOptions.requested else deshacer"
                style="height: 40px;"
                (click)="onSubmitForm(saleStatusOptions.attended, user)" 
                [disabled]="loading$ | async"
                mat-raised-button
                color="accent"
                type="button">
                <b>ATENDER</b>
            </button>
            <ng-template #deshacer>
                <button 
                    *ngIf="
                        sale.status != saleStatusOptions.cancelled ||
                        sale.status != saleStatusOptions.finished"
                    style="height: 40px;"
                    [disabled]="loading$ | async"
                    (click)="onSubmitForm(sale.status, user, true)" 
                    mat-raised-button
                    color="warn"
                    type="button">
                    <b>Deshacer</b>
                </button>
            </ng-template>
        </span>
        <span *ngIf="sale.status != saleStatusOptions.finished &&
            sale.status != saleStatusOptions.cancelled">
            <button 
                (click)="onSubmitForm(saleStatusOptions.cancelled, user)" 
                [disabled]="loading$ | async"
                mat-mini-fab
                color="warn"
                type="button">
                <mat-icon>close</mat-icon>
            </button>
        </span>
    </div>
    <div *ngIf="products$ | async as products"
        class="actionsContainer formFieldRounded">
        <mat-form-field *ngIf="sale.status == saleStatusOptions.attended"
            class="content w3-small"
            style="display: block; width:100%; margin-bottom: 0;"
            appearance="outline">
            <mat-icon matPrefix></mat-icon>
            <mat-label>Buscar producto</mat-label>
            <input 
            [formControl]="searchProductControl" #product
            type="text" autocomplete="off"
            matInput placeholder="Buscar producto"
            [matAutocomplete]="auto">
            <mat-autocomplete
                #auto="matAutocomplete" autoActiveFirstOption 
                [displayWith]="displayFn.bind(this)">
            <mat-option *ngFor="let product of products" [value]="product">
                {{product.description}}
            </mat-option>
            </mat-autocomplete>
            <mat-error>
                <span *ngIf="searchProductControl.errors?.required">Campo requerido</span>
            </mat-error>
        </mat-form-field>
    </div>
    <div class="w3-margin-top">
        <table [formGroup]="productForm" class="table-sale">
            <tr>
                <th>Cant.</th>
                <th>Descripción</th>
                <th>Precio</th>
            </tr>
            <tr formArrayName="productList"
                *ngFor="let item of productForm.get('productList')['controls']; let i = index">

                <div [formGroupName]="i" style="display:contents">
                    <!-- Quantity -->
                    <td class="table-sale__td table-sale__td--space" style="overflow: auto;">
                        <input *ngIf="sale.status == saleStatusOptions.attended else readQuantity"
                            autocomplete="off" class="table-sale__input--thin" 
                            formControlName="quantity" type="number" max=99
                            min=0 required>
                        <ng-template #readQuantity>
                            {{item.get('quantity').value}}
                        </ng-template>
                        ({{item.get('product').value['unit']['abbreviation']}})
                    </td>
                    <!-- Description -->
                    <td class="table-sale__td table-sale__td--space" style="overflow: auto;" >

                        <!-- Normal -->
                        <span *ngIf="!item.get('product').value.promo">
                            {{item.get('product').value.description}} 
                            <mat-icon style="cursor: pointer; font-size:medium; width:auto"
                                matTooltip="{{item.get('product').value.price | currency: 'S/. '}} por {{item.get('product').value.unit.abbreviation}}">
                                info
                            </mat-icon>
                        </span>
                        <!-- We have promo-->
                        <div *ngIf="item.get('product').value.promo" class="table-sale__colum">
                            <p>
                                {{item.get('product').value.description}} 
                                <mat-icon style="cursor: pointer; font-size:medium; width:auto"
                                    matTooltip="Precio: {{item.get('product').value.price | currency: 'S/. '}} por {{item.get('product').value.unit.abbreviation}}">
                                    info
                                </mat-icon>
                                <mat-icon style="cursor: pointer; font-size:medium; width:auto"
                                    matTooltip="Oferta ({{onFloor(item.get('quantity').value, item.get('product').value.promoData.quantity)}}): 
                                    {{item.get('product').value.promoData.quantity}} {{(item.get('product').value.unit.abbreviation)}}
                                    X
                                    {{item.get('product').value.promoData.promoPrice | currency: 'S/. '}}">
                                    new_releases
                                </mat-icon>
                            </p>
                        </div>

                    </td>
                    <!-- price -->
                    <td class="w3-right-align table-sale__td table-sale__td--space">
                        {{giveProductPrice(item.value) | currency: 'S/. '}}
                        <!-- S/. <input autocomplete="off" style="width: 54px"
                            formControlName="price" type="number"required min=0> -->
                    </td>
                </div>
            </tr>
            <tr>
                <td class="table-sale__td table-sale__td--border"></td>
                <td class="w3-right-align table-sale__td table-sale__td--border">
                    SubTotal
                </td>
                <td class="w3-left-align table-sale__td table-sale__td--border table-sale__td--space">
                    <span>{{getTotalPrice() -
                        getTotalPrice()/1.18*0.18 | currency:'S/. '}}
                    </span>
                </td>
            </tr>
            <tr>
                <td class="table-sale__td"></td>
                <td class="w3-right-align table-sale__td">
                    I.G.V
                </td>
                <td class="w3-left-align table-sale__td table-sale__td--space">
                    <span>
                        {{getTotalPrice()/1.18*0.18 | currency:'S/. '}}
                    </span>
                </td>
            </tr>
            <tr>
                <td class="table-sale__td"></td>
                <td class="w3-right-align table-sale__td">
                    Total
                </td>
                <td class="w3-left-align table-sale__td table-sale__td--space">
                    <span>
                        {{getTotalPrice() | currency:'S/. '}}
                    </span>
                </td>
            </tr>
            <tr>
                <td class="table-sale__td table-sale__td--border"></td>
                <td class="w3-right-align table-sale__td table-sale__td--border">
                    Delivery
                </td>
                <td class="w3-right-align table-sale__td table-sale__td--border table-sale__td--space">
                    S/. <input *ngIf="sale.status == saleStatusOptions.attended else readDelivery"
                            autocomplete="off" class="table-sale__input--width" 
                            formControlName="deliveryPrice" type="number"
                            required min=0>
                        <ng-template #readDelivery>
                            {{this.productForm.get('deliveryPrice').value |number:'1.2-2'}}
                        </ng-template>
                </td>
            </tr>
        </table>
    </div>
    <div class="total-div">
        <div class="bigCheckbox">
            <mat-checkbox 
                [disabled]="loading$ | async"
                [formControl]="voucherCheckedForm"
                (click)="confirmVoucherChecked($event)"
                color="primary"></mat-checkbox>
        </div>
        <div class="voucher-div">
            <div (click)="checkVouchers()" class="photo">
                <mat-icon style="font-size: xx-large; height: auto; width:auto;"
                    *ngIf="sale.voucher.length > 1">collections_bookmark</mat-icon>
                <mat-icon style="font-size: xx-large; height: auto; width:auto;"
                    *ngIf="sale.voucher.length == 1">book</mat-icon>
            </div>
            <div class="photo-number">
                <span>{{sale.voucher.length | number:"2.0-0"}} voucher</span>
            </div>
        </div>
        <div class="ticket__total">
            <span style="white-space: nowrap;">
                {{getTotalPrice() + productForm.get('deliveryPrice').value | currency:'S/. '}}
            </span>
        </div>
    </div>
    <!-- <div class="voucher-div">
        <div class="photo-number">
            <span>{{sale.voucher.length | number:"2.0-0"}} voucher</span>
        </div>
    </div> -->

    <!-- confirmedRequestData -->
    <form 
        style="display:contents"
        [formGroup]="confirmedRequestForm"
        *ngIf="
            sale.status == saleStatusOptions.attended ||
            sale.status == saleStatusOptions.confirmedRequest ||
            sale.status == saleStatusOptions.confirmedDocument ||
            sale.status == saleStatusOptions.confirmedDelivery ||
            sale.status == saleStatusOptions.driverAssigned ||
            sale.status == saleStatusOptions.finished ||
            sale.status == saleStatusOptions.cancelled
            ">
        <div style="width: 100%; margin-top: 10px;
                display:flex; flex-direction: row; justify-content: space-between"> 
            <!-- requestDate  -->
            <!-- <mat-form-field style="width: 48%"
                appearance="outline">
                <mat-label>F. Solicitud</mat-label>
                <input readonly matInput placeholder="F. Solicitud" 
                    [satDatepicker]="desiredDatePicker"
                    [formControl]="confirmedRequestForm.get('desiredDate')" >
                <sat-datepicker #desiredDatePicker [rangeMode]="false"></sat-datepicker>
                <sat-datepicker-toggle disabled matSuffix [for]="desiredDatePicker" ></sat-datepicker-toggle>
            </mat-form-field> -->

            <!-- assignedDate  -->
            <mat-form-field style="width: 100%"
                appearance="outline">
                <mat-label>F. Asignada</mat-label>
                <input readonly matInput placeholder="F. Asignada" 
                    [min]="now"
                    [satDatepicker]="assignedDatePicker"
                    [formControl]="confirmedRequestForm.get('assignedDate')" >
                <sat-datepicker #assignedDatePicker [rangeMode]="false"></sat-datepicker>
                <sat-datepicker-toggle matSuffix [for]="assignedDatePicker"
                    [disabled]="sale.status != saleStatusOptions.attended"></sat-datepicker-toggle>
            </mat-form-field>
        </div>
        <!-- observation -->
        <div>
            <mat-form-field appearance="outline" style="width: 100%">
                <mat-label>Observaciones</mat-label>
                <textarea formControlName="observation"  #observation 
                    [readonly]="sale.status != saleStatusOptions.attended"
                    style="min-height: 50px;"
                    matInput maxlength="150"></textarea>
                <mat-hint align="end">{{observation.value?.length || 0}}/150</mat-hint>
            </mat-form-field>
        </div>
    </form>

    <!-- confirmedDocumentData -->
    <form 
        style="display:contents"
        [formGroup]="confirmedDocumentForm"
    *ngIf="
        sale.status == saleStatusOptions.confirmedRequest ||
        sale.status == saleStatusOptions.confirmedDocument ||
        sale.status == saleStatusOptions.confirmedDelivery ||
        sale.status == saleStatusOptions.driverAssigned ||
        sale.status == saleStatusOptions.finished ||
        sale.status == saleStatusOptions.cancelled
        ">
        <div style="width: 100%;
                display:flex; flex-direction: row; justify-content: space-between"> 
            <!-- document  -->
            <mat-form-field style="width: 32%"
                appearance="outline">
            <mat-label>Tipo de Comp.</mat-label>
            <input formControlName="document" readonly
                autocomplete="off" type="text"
                matInput placeholder="Tipo de Comp.">
            <mat-error>
                <!-- <span *ngIf="productForm.get('realStock').errors?.required">Campo requerido</span>
                <span *ngIf="productForm.get('realStock').errors?.min">Solo positivos</span> -->
            </mat-error>
            </mat-form-field>
            
            <!-- documentNumber  -->
            <mat-form-field style="width: 64%"
            appearance="outline">
            <mat-label>Número de Comprobante</mat-label>
            <input formControlName="documentNumber" 
                [readonly]="sale.status != saleStatusOptions.confirmedRequest"
                autocomplete="off" type="text"
                matInput placeholder="Número de Comprobante">
            <mat-error>
                <!-- <span *ngIf="productForm.get('mermaStock').errors?.required">Campo requerido</span>
                <span *ngIf="productForm.get('mermaStock').errors?.min">Solo positivos</span> -->
            </mat-error>
            </mat-form-field>
        </div>
    </form>

    <!-- confirmedDeliveryData: We will not use this anymore -->
    
    <form 
        style="display:contents"
        [formGroup]="confirmedDeliveryForm"
        *ngIf="false">
    <!-- <form 
        style="display:contents"
        [formGroup]="confirmedDeliveryForm"
    *ngIf="
        sale.status == saleStatusOptions.confirmedDocument ||
        sale.status == saleStatusOptions.confirmedDelivery ||
        sale.status == saleStatusOptions.driverAssigned ||
        sale.status == saleStatusOptions.finished ||
        sale.status == saleStatusOptions.cancelled
        "> -->
        <div style="width: 100%;
                display:flex; flex-direction: row; justify-content: space-between"> 
            <!-- deliveryType  -->
            <div style="width: 32%; display: flex;
                flex-direction: column; justify-content: center;">
                <div style="display: flex; justify-content: center;">
                    <mat-slide-toggle color="primary" 
                        [disabled]="sale.status != saleStatusOptions.confirmedDocument"
                        formControlName="deliveryType"></mat-slide-toggle>
                </div>
                <div style="display: flex; justify-content: space-evenly;">
                    <span>Biker</span>
                    <span>Moto</span>
                </div>
            </div>
            
            <!-- deliveryBusiness  -->
            <mat-form-field style="width: 64%"
                appearance="outline">
                <mat-label>Asignar empresa de delivery.</mat-label>
                <input 
                    formControlName="deliveryBusiness"
                    [readonly]="sale.status != saleStatusOptions.confirmedDocument"
                    autocomplete="off" type="text"
                    matInput placeholder="Asignar empresa de delivery.">
                <mat-error>
                    <!-- <span *ngIf="productForm.get('mermaStock').errors?.required">Campo requerido</span>
                    <span *ngIf="productForm.get('mermaStock').errors?.min">Solo positivos</span> -->
                </mat-error>
            </mat-form-field>
        </div>
    </form>

    <button *ngIf="sale.status == saleStatusOptions.attended" 
        class="w3-block w3-margin-top" mat-raised-button 
        color="accent" type="button" 
        (click)="onSubmitForm(saleStatusOptions.confirmedRequest, user)" 
        [disabled]="loading$ | async">
        <b>Confirmar pedido</b>
    </button>

    <button *ngIf="sale.status == saleStatusOptions.confirmedRequest" 
        class="w3-block w3-margin-top" mat-raised-button 
        color="accent" type="button" 
        (click)="onSubmitForm(saleStatusOptions.confirmedDocument, user)" 
        [disabled]="(loading$ | async) || !voucherCheckedForm.value">
        <b>Confirmar comprobante</b>
    </button>

    <!-- <button *ngIf="sale.status == saleStatusOptions.confirmedDocument" 
        class="w3-block w3-margin-top" mat-raised-button 
        color="accent" type="button" 
        (click)="onSubmitForm(saleStatusOptions.confirmedDelivery, user)" 
        [disabled]="loading$ | async">
        <b>Confirmar delivery</b>
    </button> -->

    <ng-container *ngIf="weight$ | async"></ng-container>

</div>