.color-exit{
    background: #EB5757;
    color:white;
    border-radius: 20px;
    border: none;
    padding:2px 30px 2px 30px;
}

.btn-donwload{
    position:relative;
    left: 0px;
    background: #FFD600;
    color: black;
}