.title-login {
    font-family: Raleway;
    font-size: 0.9em;
    font-weight: 700;
    width: 80%;
}

.div-bottom{
    margin-left: -24px;
    margin-top: -50px;
    margin-bottom: -24px;
    border-bottom: 30px solid #5da92f;
    width: calc(100% + 48px);
}
