<div style="max-width: 300px;">
    <div mat-dialog-title>
        <div class="ms-flex">
            <h2 class="title-login">
                Listo, cheese lover!
            </h2>
            <span class="ms-fill"></span>
            <button mat-icon-button mat-dialog-close>
                <mat-icon>close</mat-icon>
            </button>
        </div>
        <mat-divider></mat-divider>

    </div>
    <div mat-dialog-content class="w3-center">
        <p>Gracias por elegir Disto, {{data.name}}.</p>

        <p> Hemos recibido tu pedido, el número es: <strong> #R{{("000"+data.number).slice(-4)}}</strong>. Los pedidos
            se agendan por
            ingreso, te enviaremos un correo
            electrónico a: <strong>{{data.email}}</strong> con la fecha de entrega</p>
        <p>🥳💚🧀</p>
    </div>
</div>