<div class="animated fadeIn delay-4 slower">
    <mat-sidenav-container style="height:100vh">
        <mat-sidenav mode="over" #sideMenu [(opened)]="openedMenu">
            <div style="display: flex; flex-direction: column; height: 100%; justify-content: space-between;">

                <div>
                    <div *ngIf="auth.user$ | async as user else iniciarSesion" class="user">
                        <div>
                            <img *ngIf="user.photoURL else defaultPicture" [src]="user.photoURL"
                                class="user__image border--primary">
                            <ng-template #defaultPicture>
                                <img class="user__image border--primary" src="../../assets/images/profile.png">
                            </ng-template>
                        </div>
                        <div *ngIf="user.name;else noName">
                            <div class="user__name">
                                {{user.name.split(" ")[0]}}
                            </div>
                            <div class="user__surname">
                                {{user.lastName1}}
                            </div>
                        </div>
                        <ng-template #noName>
                            <div class="user__name">
                                Usuario
                            </div>
                        </ng-template>
                    </div>
                    <ng-template #iniciarSesion>
                        <div class="login w3-center">
                            <button mat-raised-button color="accent" (click)="login()">
                                <mat-icon style="margin-right: 5px;">account_circle</mat-icon>
                                Iniciar Sesión
                            </button>
                        </div>
                    </ng-template>
                    <div style="padding-left: 24px; padding-right: 24px; margin-bottom: 16px;">
                        <mat-divider></mat-divider>
                    </div>
                    <div class="w3-center w3-margin-bottom">
                        <mat-slide-toggle color="primary" (click)="themeService.toggleTheme()">
                            Modo Oscuro
                        </mat-slide-toggle>
                    </div>
                    <!-- <h2 class="menu__title font--primary">menu</h2> -->
                    <div class="menu" *ngIf="auth.user$ | async as user">
                        <button mat-button *ngIf="user.role == 'Administrador'" class="w3-block menu__button"
                            routerLink="configuration" (click)="toggleSideMenu()">
                            <mat-icon class="menu__icon">settings</mat-icon>
                            Configuración
                        </button>
                        <button mat-button class="w3-block menu__button" *ngIf="user?.admin || user?.seller"
                            routerLink="customers" (click)="toggleSideMenu()">
                            <mat-icon class="menu__icon">account_circle</mat-icon>
                            Clientes
                        </button>
                        <button mat-button class="w3-block menu__button" *ngIf="user.admin || user?.logistic"
                            routerLink="logistics" (click)="toggleSideMenu()">
                            <mat-icon class="menu__icon">multiple_stop</mat-icon>
                            Logística
                        </button>
                        <button mat-button class="w3-block menu__button" *ngIf="user?.admin || user?.seller || user?.logistic"
                            routerLink="products-list" state="Lista de productos" (click)="toggleSideMenu()">
                            <mat-icon class="menu__icon">widgets</mat-icon>
                            Lista de Productos
                        </button>
                        <button mat-button class="w3-block menu__button" *ngIf="user?.admin || user?.seller" routerLink="online-sales"
                            (click)="toggleSideMenu()">
                            <mat-icon class="menu__icon">assignment</mat-icon>
                            Ventas online
                        </button>
                        <button mat-button class="w3-block menu__button" *ngIf="user?.admin || user?.seller" routerLink="store-sales"
                            (click)="toggleSideMenu()">
                            <mat-icon class="menu__icon">assignment</mat-icon>
                            Ventas tienda
                        </button>
                        <button mat-button class="w3-block menu__button" *ngIf="user?.admin || user?.seller" routerLink="pos"
                            (click)="toggleSideMenu()">
                            <mat-icon class="menu__icon">phonelink_ring</mat-icon>
                            Punto de venta
                        </button>
                        
                        <mat-divider></mat-divider>
                        <button mat-button class="w3-block menu__button" routerLink="/main" (click)="toggleSideMenu()">
                            <mat-icon class="menu__icon">local_offer</mat-icon>
                            Productos
                        </button>
                        <button mat-button class="w3-block menu__button" routerLink="products-history"
                            (click)="toggleSideMenu()">
                            <mat-icon class="menu__icon">shopping_cart</mat-icon>
                            Historial
                        </button>
                        <p class="w3-margin-bottom"></p>

                        <div class="w3-center">
                            <button *ngIf="auth.user$ | async" class="w3-margin-top" mat-raised-button color="accent"
                                (click)="auth.logout()">
                                <mat-icon style="margin-right: 5px;">account_circle</mat-icon>
                                Cerrar Sesión
                            </button>
                        </div>
                    </div>
                </div>


                <div class="meraki animate fadeInRight">
                    <div style="text-align: center">Desarrollado por
                        <a href="https://meraki-s.com" target="_blank">
                            <img src="../../assets/images/negativo.png" class="meraki__logo"
                                alt="meraki solutions logo">
                        </a>
                    </div>
                    <div style="display:flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items:center;
                        width:100%;
                        font-size: small">
                        <p>
                            {{version}}
                        </p>
                    </div>

                </div>

            </div>

        </mat-sidenav>

        <mat-sidenav-content cdkScrollable>
            <mat-toolbar class="main__toolbar">
                <div class="w3-margin-right w3-text-white">
                    <button mat-icon-button (click)="toggleSideMenu()">
                        <mat-icon>menu</mat-icon>
                    </button>
                    <a class="w3-margin-left main__logo" routerLink="/main">
                        <img src="../../assets/images/boom-logo-horizontal.jpg" class="main__logoimage" alt="logo">
                    </a>
                </div>
                <span class="toolbar_title">| <strong> {{title}}</strong></span>
                <span style="flex: 1 1 auto;"></span>
            </mat-toolbar>
            <div class="main__space">
                <router-outlet></router-outlet>
            </div>
        </mat-sidenav-content>

    </mat-sidenav-container>
</div>