table {
    &__header {
        font-size: 0.9em !important;
        padding:0px 1em !important;
        font-weight: 500 !important;
        color: #828282 !important;
    }

    &__row {
        font-size: 0.9em !important;
        padding:0px 1em !important;
        // font-weight: 500;
        color: #a00707 !important;
        font-family: 'Raleway' !important;
    }
}