.thin {
  font-weight: 500;
}

.panel-icons {
  justify-content: space-between;
  align-items: center;
}

.toggleUp {
  border-radius: 50%;
  width: 27px;
  height: 27px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px;

  &__accent {
    background-color: #fdd651;
  }

  &__green {
    background-color: #5da92f;
    color: white;
  }
}

/*loader*/
.lds-dual-ring {
  display: inline-block;
  width: 35px;
  height: 35px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 3px solid #5da92f;
  border-color: #5da92f transparent #5da92f transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
