<div mat-dialog-title>
  <h2 class="ms-font-rubik ms-color-2b" style="font-size:1.2em">
      <mat-icon style="vertical-align:middle" (click)="deb()">add_circle</mat-icon>
      {{data.edit?'Editar Paquete':'Crear Paquete'}}
  </h2>
  <mat-divider></mat-divider>
</div>
<mat-dialog-content>
  <form [formGroup]="packageForm"
      style="display:flex; flex-direction: column;">

      <!-- description  -->
      <mat-form-field style="margin-bottom: 8px"
        hintLabel="Máx. 40 carácteres" appearance="outline">
          <mat-label>Nombre</mat-label>
          <input #input autocomplete="off" maxlength="40"
            formControlName="description" type="text"
              matInput placeholder="Nombre del paquete">
          <ng-template *ngIf="descriptionFormatting$ | async"></ng-template>
          <mat-error>
              <span *ngIf="packageForm.get('description').errors?.required">Campo requerido</span>
              <span *ngIf="packageForm.get('description').errors?.descriptionRepeatedValidator">Este contenido ya se encuentra repetido.</span>
          </mat-error>
          <mat-hint align="end">{{input.value?.length || 0}}/40</mat-hint>
      </mat-form-field>

      <!-- sku -->
      <mat-form-field style="margin-bottom: 8px" appearance="outline">
          <mat-label>SKU</mat-label>
          <input #input autocomplete="off"
            formControlName="sku" type="text"
              matInput placeholder="SKU">
          <ng-template *ngIf="skuFormatting$ | async"></ng-template>
          <mat-error>
              <span *ngIf="packageForm.get('sku').errors?.required">Campo requerido</span>
              <span *ngIf="packageForm.get('sku').errors?.skuRepeatedValidator">Este contenido ya se encuentra repetido.</span>
          </mat-error>
      </mat-form-field>

      <!-- additionalDescription -->
      <mat-form-field appearance="outline" style="width: 100%">
        <mat-label>Información</mat-label>
        <textarea #addDesc 
          style="min-height: 100px;"
          formControlName="additionalDescription" 
          matInput maxlength="150"></textarea>
        <mat-hint align="end">{{addDesc.value?.length || 0}}/150</mat-hint>
      </mat-form-field>

      <!-- Price and unit -->
      <div style="display:flex; flex-direction: row; justify-content: space-between; width: 100%"> 
        <!-- price  -->
        <mat-form-field style="margin-bottom: 8px; width: 48%"
          appearance="outline">
          <mat-label>Precio (S/.)</mat-label>
          <input autocomplete="off"
            formControlName="price" type="number"
              matInput placeholder="Precio del producto">
          <mat-error>
              <span *ngIf="packageForm.get('price').errors?.required">Campo requerido</span>
              <span *ngIf="packageForm.get('price').errors?.min">Solo positivos</span>
          </mat-error>
        </mat-form-field>
        
        <!-- unit  -->
        <mat-form-field *ngIf="units$ | async as units"
          style="margin-bottom: 8px; width: 48%"
          appearance="outline">
            <mat-label>Unidad</mat-label>
            <mat-select formControlName="unit">
              <mat-option (click)="onAddUnit()"
                [value]="">
                <mat-icon>add_circle_outline</mat-icon>Añadir
              </mat-option>
              <mat-option *ngFor="let unit of units" [value]="unit">
                {{unit.abbreviation}}
              </mat-option>
            </mat-select>
            <mat-error>
                <span *ngIf="packageForm.get('unit').errors?.required">Campo requerido</span>
            </mat-error>
        </mat-form-field>
      </div>

      <!-- dateType -->
      <mat-form-field style="margin-bottom: 8px" appearance="outline">
        <mat-label>Tipo de Fecha</mat-label>
        <mat-select formControlName="dateType">
          <mat-option *ngFor="let unit of dateType" [value]="unit">
            {{unit}}
          </mat-option>
        </mat-select>
        <mat-error>
            <span *ngIf="packageForm.get('dateType').errors?.required">Campo requerido</span>
        </mat-error>
      </mat-form-field>

      <!-- dateLimit -->
      <mat-form-field *ngIf="dateType$ | async"
        style="margin-bottom: 8px" appearance="outline">
        <mat-label>Fecha Límite</mat-label>
        <input readonly matInput placeholder="Fecha deseada" [min]="dateLimit"
          [formControl]="packageForm.get('dateLimit')" [satDatepicker]="picker">
        <sat-datepicker #picker [rangeMode]="false"></sat-datepicker>
        <sat-datepicker-toggle matSuffix [for]="picker"></sat-datepicker-toggle>
      </mat-form-field>

      <!-- totalItems -->
      <mat-form-field style="margin-bottom: 8px" appearance="outline">
        <mat-label>Número total de Items</mat-label>
        <mat-select style="text-align: center;" formControlName="totalItems">
          <mat-option style="text-align: center;" *ngFor="let number of maxItems" [value]="number">
            {{number}}
          </mat-option>
        </mat-select>
        <mat-error>
          <span *ngIf="packageForm.get('totalItems').errors?.required">Campo requerido</span>
          <span *ngIf="packageForm.get('totalItems').errors?.min">Más de 1.</span>
        </mat-error>
        <mat-hint>Seleccione el número de items del paquete.</mat-hint>
      </mat-form-field>

      <ng-container *ngIf="totalItems$ | async"></ng-container>
      <!-- itemsFormArray -->
      <form *ngFor="let group of itemsFormArray.controls; let i = index"
        [formGroup]="group" style="margin-bottom: 8px">
        <mat-form-field style="width: 100%" appearance="outline">
          <mat-label>Item n° {{i+1}}</mat-label>
          <mat-chip-list #chipList
            formControlName="productsOptions">
            <mat-chip
              *ngFor="let product of group.get('productsOptions').value"
              [selectable]="true"
              [removable]="true"
              (removed)="onRemoveProduct(product, group)">
              {{product.description}}
              <mat-icon color="primary" matChipRemove>remove_circle</mat-icon>
            </mat-chip>
            <input
              #fruitInput
              formControlName="textInput"
              [matAutocomplete]="auto"
              [matChipInputFor]="chipList"
              [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
              (matChipInputTokenEnd)="onAddProduct(auto, $event, group)">
          </mat-chip-list>
          <mat-error>
            <span *ngIf="group.get('productsOptions').errors?.minInputsValidator">
              Seleccionar por lo menos 1 producto.
            </span>
          </mat-error>
          <mat-hint>Seleccione sus productos a incluir.</mat-hint>
          <mat-autocomplete 
            #auto="matAutocomplete" autoActiveFirstOption 
            (optionSelected)="onSelectProduct($event.option.value, group)"
            [displayWith]="displayFn.bind(this)">
            <mat-option *ngFor="let product of productsListAutocompletes$[i] | async" [value]="product">
              {{product.description}}
            </mat-option>
          </mat-autocomplete>
          
        </mat-form-field>
      </form>
      
      <!-- Photo  -->
      <div style="display:flex; flex-direction: row; justify-content: space-between; align-items: flex-end; margin-bottom: 16px;">
          <img class="w3-card-4" (click)="photoURL.click()"
              *ngIf="packageForm.get('photoURL').value!=null" style="width: 100%;"
              [src]="packageForm.get('photoURL').value" alt="fotografía">
          <img class="w3-card-4" (click)="photoURL.click()"
              *ngIf="packageForm.get('photoURL').value==null" style="width: 100%;"
              [src]="noImage" alt="sin fotografía">

          <mat-progress-bar *ngIf="photos?.resizing$.photoURL | async"
          style="width:100%" mode="indeterminate">
          </mat-progress-bar>
          <span *ngIf="photos.resizing$.photoURL | async" 
          class="w3-small ms-color-11 ms-font-montserrat" style="width:100%">*comprimiendo</span>
          <input style="display: none" #photoURL type="file" accept='image/*' 
            (change)="addNewPhoto('photoURL', photoURL.files)"/>
      </div>



  </form>
  <mat-divider></mat-divider>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-stroked-button class="w3-margin-right" mat-dialog-close>Cancelar</button>
  <button mat-raised-button color="accent" (click)="onSubmitForm(null)" type="button"
      [disabled]="!packageForm.valid || !itemsFormArray.valid">Guardar</button>
</mat-dialog-actions>
