.icon{
    position: relative;
    top: 5px;
}
.btn-exit{
    background: #EB5757;
    color: #ffffff;
    border-radius: 20px;
    border: none;
    margin: 5px;
    padding: 5px 20px 5px 20px;
    cursor:pointer;               
}

.btn-save{
    background: #27AE60;
    color: #ffffff;
    border-radius: 20px;
    border: none;
    margin: 5px;
    padding: 5px 20px 5px 20px;
    cursor: pointer;               

}   