
<div class="ms-font-montserrat mat-title">
    <mat-icon class="ms-icons-color" style="vertical-align:middle">vpn_key</mat-icon>  Apertura de caja 
</div>

<mat-divider class="w3-margin-top"></mat-divider>

<mat-dialog-content class="w3-margin-top" style="min-width:300px">
    <h5> ¿ Esta seguro de abrir la {{data.cashBox.cashier}} ?   </h5>
   
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-stroked-button class="btn-exit" mat-dialog-close>Cerrar</button>
    <button mat-raised-button class="btn-save" (click)="openCash()" >Abrir</button>
</mat-dialog-actions>

