<div class="ms-font-montserrat mat-title">
    <mat-icon class="ms-icons-color" style="vertical-align:middle">remove_circle</mat-icon> Retirar dinero
</div>

<mat-divider class="w3-margin-top"></mat-divider>

<!-- <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar> -->

<mat-dialog-content class="w3-margin-top" style="min-width:300px">
    <form [formGroup]="dataFormGroup">

        <div class="w3-row">
            <div class="w3-half">
                <div class="w3-margin">
                    <span class="ms-color-11 mat-subheading-1 w3-margin-bottom"><b>Información</b></span>
                    <mat-divider class="w3-margin-bottom"></mat-divider>

                    <mat-form-field class="w3-margin-bottom w3-block" appearance="outline">
                        <mat-label>Importe retirado (S/.)</mat-label>
                        <input matInput type="number" min="0" step="0.01" formControlName="import" placeholder="0"
                            autocomplete="off">
                        <mat-hint>Requerido *</mat-hint>
                    </mat-form-field><br>        
            
                    <mat-form-field class="w3-margin-bottom w3-block" appearance="outline">
                        <mat-label>Descripción</mat-label>
                        <textarea matInput cols="10" rows="5" formControlName="description" placeholder="Describa ..."
                            autocomplete="off"></textarea>
                        <mat-hint>Requerido *</mat-hint>
                    </mat-form-field><br>
            
                    <mat-form-field class="w3-margin-bottom w3-block" appearance="outline">
                        <mat-label>Responsable</mat-label>
                        <input matInput type="text" formControlName="responsable" placeholder="responsable">
                        <mat-hint>Requerido *</mat-hint>
                    </mat-form-field><br>
                </div>
            </div>
            <div class="w3-half">
                <div class="w3-margin">
                    <span class="ms-color-11 mat-subheading-1 w3-margin-bottom"><b>Detalles</b></span>
                    <mat-divider class="w3-margin-bottom"></mat-divider>

                    <mat-form-field class="w3-margin-bottom w3-block" appearance="outline" *ngIf="expenses$ | async as expenses">
                        <mat-label>Tipo de egreso</mat-label>
                        <mat-select formControlName="expensesType">
                            <mat-option *ngFor="let item of expenses" [value]="item.expenses">{{item.expenses}}</mat-option>
                        </mat-select>
                        <mat-hint>Requerido *</mat-hint>
                    </mat-form-field><br>
            
                     <mat-form-field class="w3-margin-bottom w3-block" appearance="outline" *ngIf="paymentType$ | async as paymentTypes"  >
                        <mat-label>Tipo de pago</mat-label>
                        <mat-select formControlName="paymentType">
                            <mat-option *ngFor="let payment of paymentTypes" [value]="payment">{{payment.name}}</mat-option>
                        </mat-select>
                        <mat-hint>Requerido *</mat-hint>
                    </mat-form-field><br>

                </div>
            </div>
        </div>
    </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-stroked-button class="btn-exit" mat-dialog-close>Cancelar</button>
    <button mat-raised-button class="btn-save"  (click)="retriveMoney()" [disabled]="!dataFormGroup.valid"
        >Retirar</button>

        
</mat-dialog-actions>