.totalPrice {
    padding: 16px;
    margin: 4px;
    // height: 56px;
    margin-left: 8px;
    background: var(--primary-color);
    box-shadow: 0px 5.66077px 5.66077px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
  
    font-weight: 900;
    font-size: 2em;
    line-height: 41px;
    // display: flex;
    // align-items: center;
    text-align: center;
    letter-spacing: 0.05em;
    font-feature-settings: 'pnum' on, 'lnum' on;
  
    color: #F2F2F2;
  }

.componente-container{
    height: 100%; 
    padding: 24px 0px
}

.search {
    line-height: 17px;
    width: 100%;
    padding: 0px 0px;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-right: 1em;
    color: #2b2b2b;
}

.tab-container {
    min-height: 55vh;
    padding: 1em 0.5em;
}

.list-item {
    margin-top: 0.5em;
    padding: 0.5em 0.5em;
    border-radius: 10px 10px;
}

.fill {
    flex: auto 1 1;
}

.out-of-stock {
    background-color: #ffbfbf;
}

