<div>
  <!-- Actions -->
  <div class="w3-margin toolbar formFieldRounded">
    <!-- Select item's type -->
    <button class="toolbar_item" mat-raised-button style="height: 45px;" (click)="onCreateEditItem(false)"
      color="accent">
      <mat-icon>add</mat-icon>Crear
    </button>

    <mat-form-field color="primary" *ngIf="categoryList$ | async as categories" class="content w3-small toolbar_item"
      appearance="outline" style="width: 150px;">
      <mat-label>Categoria</mat-label>
      <mat-icon matPrefix></mat-icon>
      <mat-icon matSuffix>arrow_drop_down</mat-icon>
      <input [formControl]="categoryForm" [matAutocomplete]="categoryAutocomplete" type="text" matInput>
      <mat-autocomplete autoActiveFirstOption #categoryAutocomplete="matAutocomplete" [displayWith]="showCategory">
        <mat-option [value]="''">
          Todos
        </mat-option>
        <mat-option *ngFor="let category of categories" [value]="category">
          {{category.name}}
        </mat-option>
      </mat-autocomplete>
      <mat-error>
        <span *ngIf="categoryForm.errors?.required">Por favor, complete el campo.</span>
        <span *ngIf="categoryForm.errors?.invalid">Dato inválido. Complete con alguna opción válida.</span>
      </mat-error>
    </mat-form-field>

    <ng-container *ngIf="filter$ | async as filter">
      <mat-form-field color="primary" class="content w3-small toolbar_item" appearance="outline" style="width: 150px;">
        <mat-label>Buscar/Escanear</mat-label>
        <mat-icon matPrefix class="w3-margin-right">search</mat-icon>
        <input [formControl]="itemsFilterForm" matInput type="text" placeholder="Escriba..." autocomplete="off">
        <mat-hint>Filtro por nombre o código</mat-hint>
      </mat-form-field>

      <mat-slide-toggle class="toolbar_item" [formControl]="promoFilterForm"
        style="margin-bottom: 8px; margin-top: inherit;" color="accent">
        Mostrar solo ofertas
      </mat-slide-toggle>
    </ng-container>

    <button class="toolbar_item" mat-raised-button style="height: 45px;" (click)="downloadXls()" color="accent">
      Descargar Excel
    </button>

  </div>

  <!-- Table -->
  <div *ngIf="productsObservable$ | async; else loading">
    <!-- Desktop -->
    <div *ngIf="productsTableDataSource.filteredData.length else default" class="w3-margin-top"
      style="border-radius: 10px 10px 10px 10px;">
      <div style="overflow:auto; border-radius: 10px 10px 0px 0px">
        <table mat-table [dataSource]="productsTableDataSource" matSort style="text-align: center !important; ">

          <ng-container matColumnDef="index">
            <th *matHeaderCellDef style="font-size: 0.9em;padding:0px 1em; font-weight: 500; color: #828282;"
              class="w3-center w3-padding  ">N°</th>
            <td style="padding:0px 25px;" *matCellDef="let raw; let i = index">
              {{1 + i + (productsPaginator.pageIndex * productsPaginator.pageSize)}}
            </td>
          </ng-container>

          <ng-container matColumnDef="photoURL">
            <th *matHeaderCellDef style=" font-size: 0.9em;padding:0px 1em; font-weight: 500; color: #828282;  "
              class="w3-center w3-padding">
              Imagen referencial
            </th>
            <td *matCellDef="let raw" class="w3-center" style="padding: 10px">
              <a href="{{raw.photoURL}}" target="_blank" *ngIf="raw.photoURL; else defaultPicture">
                <div class="reveal">
                  <div
                    [className]="raw.promo?'border--secondary triangleTopLeft w3-card-4':'border--primary triangleTopLeft w3-card-4'">
                    <div class="slogan background--secondary" *ngIf="raw['promo']"></div>
                    <div class="promo" *ngIf="raw['promo']">OFERTA</div>
                    <img [defaultImage]="defaultImage" [lazyLoad]="raw.photoURL" [offset]="100"
                      style="object-fit:cover; width: 80px; height: 80px;">
                  </div>
                </div>
              </a>
              <ng-template #defaultPicture>
                <div style="height:80px; padding:6px 6px">
                  <img src="../../../assets/images/no-image.png" style="max-width:100%; height:100%" class="w3-card-4">
                </div>
              </ng-template>
            </td>
          </ng-container>

          <ng-container matColumnDef="description" sticky>
            <th *matHeaderCellDef style=" font-size: 0.9em;padding:0px 1em; font-weight: 500; color: #828282; "
              class="w3-center w3-padding  ">
              Descripción
            </th>
            <td style="font-size:10px; padding:0px 8px; font-weight: bold;" *matCellDef="let raw">
              {{raw.description |titlecase}}
            </td>
          </ng-container>

          <ng-container matColumnDef="sku">
            <th *matHeaderCellDef style=" font-size: 0.9em;padding:0px 1em; font-weight: 500; color: #828282; "
              class="w3-center w3-padding  ">
              SKU
            </th>
            <td style="font-size:10px; padding:0px 8px; font-weight: bold;" *matCellDef="let raw">
              {{raw.sku}}
            </td>
          </ng-container>

          <ng-container matColumnDef="category">
            <th *matHeaderCellDef style=" font-size: 0.9em;padding:0px 1em; font-weight: 500; color: #828282; "
              class="w3-center w3-padding  " matTooltip="Ordenar tabla por tipo de documento" matTooltipPosition="above"
              mat-sort-header>
              Categoria
            </th>
            <td style="font-size:10px; padding:0px 8px; font-weight: bold;" *matCellDef="let raw">
              {{raw.category}}
            </td>
          </ng-container>

          <ng-container matColumnDef="price">
            <th *matHeaderCellDef style=" font-size: 0.9em;padding:0px 1em; font-weight: 500; color: #828282; "
              class="w3-center w3-padding  ">
              Precio
            </th>
            <td style="font-size:10px; padding:0px 8px; font-weight: bold;" *matCellDef="let raw">
              {{raw.price | currency : 'S/.'}}
            </td>
          </ng-container>

          <ng-container matColumnDef="unitDescription">
            <th *matHeaderCellDef style=" font-size: 0.9em;padding:0px 1em; font-weight: 500; color: #828282; "
              class="w3-center w3-padding  ">
              Unidad
            </th>
            <td style="font-size:10px; padding:0px 8px; font-weight: bold;" *matCellDef="let raw">
              {{raw.unit.description}}
            </td>
          </ng-container>

          <!-- <ng-container matColumnDef="unitAbbreviation">
            <th *matHeaderCellDef style=" font-size: 0.9em;padding:0px 1em; font-weight: 500; color: #828282; "
              class="w3-center w3-padding  ">
              Abreviación
            </th>
            <td style="font-size:10px; padding:0px 8px; font-weight: bold;" *matCellDef="let raw">
              {{raw.unit.abbreviation}}
            </td>
          </ng-container> -->

          <!-- <ng-container matColumnDef="unitWeight">
            <th *matHeaderCellDef style=" font-size: 0.9em;padding:0px 1em; font-weight: 500; color: #828282; "
              class="w3-center w3-padding  ">
              Peso (KG)
            </th>
            <td style="font-size:10px; padding:0px 8px; font-weight: bold;" *matCellDef="let raw">
              {{raw.unit.weight}}KG
            </td>
          </ng-container> -->

          <ng-container matColumnDef="realStock">
            <th *matHeaderCellDef style=" font-size: 0.9em;padding:0px 1em; font-weight: 500; color: #828282; "
              class="w3-center w3-padding  ">
              Stock
            </th>
            <td style="font-size:10px; padding:0px 8px; font-weight: bold;" *matCellDef="let raw">
              {{raw.realStock}}
            </td>
          </ng-container>

          <!-- <ng-container matColumnDef="mermaStock">
            <th *matHeaderCellDef style=" font-size: 0.9em;padding:0px 1em; font-weight: 500; color: #828282; "
              class="w3-center w3-padding  ">
              Merma
            </th>
            <td style="font-size:10px; padding:0px 8px; font-weight: bold;" *matCellDef="let raw">
              {{raw.mermaStock}}
            </td>
          </ng-container> -->

          <!-- <ng-container matColumnDef="virtualStock">
            <th *matHeaderCellDef style=" font-size: 0.9em;padding:0px 1em; font-weight: 500; color: #828282; "
              class="w3-center w3-padding  ">
              Stock Virtual
            </th>
            <td style="font-size:10px; padding:0px 8px; font-weight: bold;" *matCellDef="let raw">
              {{raw.virtualStock$ | async}}
            </td>
          </ng-container> -->

          <ng-container matColumnDef="sellMinimum">
            <th *matHeaderCellDef style=" font-size: 0.9em;padding:0px 1em; font-weight: 500; color: #828282; "
              class="w3-center w3-padding  ">
              Min. Venta
            </th>
            <td style="font-size:10px; padding:0px 8px; font-weight: bold;" *matCellDef="let raw">
              {{raw.sellMinimum}}
            </td>
          </ng-container>

          <ng-container matColumnDef="alertMinimum">
            <th *matHeaderCellDef style=" font-size: 0.9em;padding:0px 1em; font-weight: 500; color: #828282; "
              class="w3-center w3-padding  ">
              Min. alerta
            </th>
            <td style="font-size:10px; padding:0px 8px; font-weight: bold;" *matCellDef="let raw">
              {{raw.alertMinimum}}
            </td>
          </ng-container>

          <ng-container matColumnDef="published">
            <th *matHeaderCellDef style=" font-size: 0.9em;padding:0px 1em; font-weight: 500; color: #828282; "
              class="w3-center w3-padding  ">
              Estado
            </th>
            <td style="font-size:10px; padding:0px 8px; font-weight: bold;" *matCellDef="let raw">
              {{raw.published ? 'Publicado' : 'Oculto'}}
            </td>
          </ng-container>

          <ng-container matColumnDef="actions" stickyEnd>
            <th *matHeaderCellDef style=" font-size: 0.9em;padding:0px 1em; font-weight: 500; color: #828282; "
              class="w3-center w3-padding w3-border-left w3-border-lightgrey">Acciones</th>
            <td style="padding:0px 24px" *matCellDef="let raw" class="w3-border-left w3-border-lightgrey">
              <mat-menu #rawMenu="matMenu">
                <button class="w3-small" mat-menu-item (click)="onPromo(raw)">
                  <mat-icon>local_offer</mat-icon> Promoción
                </button>
                <button class="w3-small" *ngIf="raw?.published else publish" mat-menu-item
                  (click)="onPublish(raw, false)">
                  <mat-icon>visibility_off</mat-icon> Ocultar
                </button>
                <ng-template #publish>
                  <button class="w3-small" mat-menu-item (click)="onPublish(raw, true)">
                    <mat-icon>visibility</mat-icon> Publicar
                  </button>
                </ng-template>
                <div [matTooltipDisabled]="categorySelected" matTooltip="Primero seleccione una categoría">
                  <button class="w3-small" mat-menu-item (click)="increasePriority(raw)" [disabled]="!categorySelected">
                    <mat-icon>add</mat-icon> Prioridad
                  </button>
                </div>
                <div [matTooltipDisabled]="categorySelected" matTooltip="Primero seleccione una categoría">
                  <button class="w3-small" mat-menu-item (click)="decreasePriority(raw)" [disabled]="!categorySelected"
                    [matTooltipDisabled]="categorySelected" matTooltip="Primero seleccione una categoría">
                    <mat-icon>remove</mat-icon> Prioridad
                  </button>
                </div>
                <button class="w3-small" mat-menu-item (click)="onCreateEditItem(true, raw)">
                  <mat-icon>edit</mat-icon> Editar
                </button>
                <button class="w3-small" mat-menu-item (click)="onDeleteItem(raw)">
                  <mat-icon>delete</mat-icon> Borrar
                </button>
              </mat-menu>
              <ng-container *ngIf="(auth.user$ | async) as user">
                <button mat-icon-button [matMenuTriggerFor]="rawMenu" [disabled]="user.seller || user.accountant">
                  <mat-icon>more_vert</mat-icon>
                </button>
              </ng-container>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="productsDisplayedColumns; sticky: true" style="text-align-last: center;">
          </tr>
          <tr mat-row *matRowDef="let row; columns: productsDisplayedColumns;"></tr>

        </table>
      </div>
      <mat-paginator #productsPaginator style="border-radius: 0px 0px 10px 10px" [pageSizeOptions]="[5, 10, 20]"
        showFirstLastButtons></mat-paginator>
    </div>

  </div>

</div>

<ng-template #default>
  <div class="w3-container w3-center w3-margin-top w3-margin-bottom">
    <!-- <img [src]="noResultImage" alt="no data" style="width: 100%; max-width: 300px;"> -->
    <p>Sin Resultados</p>
  </div>
</ng-template>

<ng-template #loading>
  <div class="formFieldRounded" style="display: flex; align-items: center; flex-direction: column">
    <mat-spinner></mat-spinner>
    <p>Cargando productos</p>
  </div>
</ng-template>