<h2 mat-dialog-title>Ticket</h2>

<mat-dialog-content>
    <div #ticket>
        <p>Nuevo Ticket</p>
        <P>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo nulla at aut nisi ullam illo itaque laborum.
            Expedita nisi, doloribus nulla perferendis asperiores inventore vitae! Delectus, placeat? Vero, tempora
            voluptatem!</P>
    </div>

</mat-dialog-content>

<mat-dialog-actions>
    <button mat-raised-button (click)="print()">Imprimir</button>
</mat-dialog-actions>