
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$mat-disto-productos-primary-palette: (
  50 : #ecf5e6,
  100 : #cee5c1,
  200 : #aed497,
  300 : #8ec36d,
  400 : #75b64e,
  500 : #5da92f,
  600 : #55a22a,
  700 : #4b9823,
  800 : #418f1d,
  900 : #307e12,
  A100 : #c5ffb3,
  A200 : #9eff80,
  A400 : #77ff4d,
  A700 : #64ff33,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #000000,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
  )
);

$mat-disto-productos-accent-palette: (
  50 : #fffaea,
  100 : #fef3cb,
  200 : #feeba9,
  300 : #fde286,
  400 : #fcdc6c,
  500 : #fcd652,
  600 : #fcd14b,
  700 : #fbcc41,
  800 : #fbc638,
  900 : #fabc28,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #fff0d0,
  A700 : #ffe8b7,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #000000,
      500 : #000000,
      600 : #000000,
      700 : #000000,
      800 : #000000,
      900 : #000000,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
  )
);


$disto-productos-primary: mat-palette($mat-disto-productos-primary-palette);
$disto-productos-accent: mat-palette($mat-disto-productos-accent-palette);

// The warn palette is optional (defaults to red).
$disto-productos-warn: mat-palette($mat-red, 400, 100, 700);

// Create the theme object (a Sass map containing all of the palettes).
$disto-productos-theme: mat-light-theme($disto-productos-primary, $disto-productos-accent, $disto-productos-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($disto-productos-theme);

/* You can add global styles to this file, and also import other style files */

html, body { 
  height: 100%; 
}
body { 
  margin: 0; 
  font-family: Raleway, sans-serif; 
}
