<div class="ms-font-montserrat mat-title">
    <mat-icon class="ms-icons-color" style="vertical-align:middle">add_circle</mat-icon> Agregar dinero
</div>

<mat-divider class="w3-margin-top"></mat-divider>

<!-- <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar> -->

<mat-dialog-content class="w3-margin-top" style="min-width:300px">
    <h4>¿ Esta seguro de retirar el importe: S/.  000.00?    </h4>
    <h5>Descripción: ***************************</h5>
   
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-stroked-button class="btn-exit"  mat-dialog-close>Cancelar</button>
    <button mat-raised-button class="btn-save"  >Si retirar</button>
</mat-dialog-actions>

