<div *ngIf="sales$ | async as sales else noSales">
  <!-- Actions form -->
  <div class="actionsContainer formFieldRounded"
    style="margin-right: 16px;">
      <mat-form-field style="margin: 16px 16px 16px 0"
        class="content" appearance="outline">
          <input readonly matInput placeholder="FECHA / PERIODO" [formControl]="date" [satDatepicker]="picker">
          <sat-datepicker #picker [rangeMode]="true"></sat-datepicker>
          <sat-datepicker-toggle matSuffix [for]="picker"></sat-datepicker-toggle>
      </mat-form-field>
      <mat-form-field class="content w3-small" appearance="outline">
          <mat-icon matPrefix></mat-icon>
          <mat-label>Estado</mat-label>
          <mat-select [formControl]="statusForm">
              <mat-option value="Todos">Todos</mat-option>
              <mat-option *ngFor="let stat of status" [value]="stat">
                  {{stat}}
              </mat-option>
          </mat-select>
      </mat-form-field>
      <ng-container *ngIf="salesFiltered$ | async as salesFiltered">
          <button (click)="downloadXls(salesFiltered)" mat-raised-button [disabled]="!salesFiltered.length"
              color="accent" type="button">
              Descargar Excel
          </button>
      </ng-container>
      <!-- <div class="subtotal marginTotal" style="font-size: large">Venta total:
          {{getTotalPrice(salesFiltered$ | async) | currency:'S/. '}}</div> -->
  </div>


  <ng-container *ngIf="salesFiltered$ | async as salesFiltered">
      <ng-container *ngIf="salesFiltered.length else noSales">

        <!-- <div *ngFor="let sale of salesFiltered | paginate: { itemsPerPage: 10, currentPage: p }"
            class="list-parent-container "
            [class.shadow-color]="(detailSubject | async)?.id == sale.id">

          <div matRipple class="list-container background-color" (click)="onSelectDetail(sale)">
                <div class="general">
                    <div style="font-size: 24px;">
                        <b>#R1347</b>
                    </div>
                    <div>
                        <mat-icon color="primary">assignment_turned_in</mat-icon>
                        Paola Ruiz
                    </div>
                    <div>
                        <mat-icon style="font-size:20px;"
                            color="primary">assignment_turned_in</mat-icon>
                        01/06/2020
                    </div>
                    <div>
                        <mat-icon style="font-size:20px;"
                            color="primary">directions_bike</mat-icon>
                        21/10/2020
                    </div>
                </div>
                <div class="client">
                    <mat-icon>group</mat-icon>
                    <b>Nombre Prueba</b>
                </div>
                <div class="document">
                    <b>Factura FE001-00003</b>
                </div>
                <div class="driver">
                    <div class="driver_header">
                        <mat-icon>directions_bike</mat-icon>
                        <span>José Romero</span>
                        <mat-icon>phone_in_talk</mat-icon>
                    </div>
                    <div class="driver_row">
                        <span>Asignado</span>
                        <b>14:21</b>
                    </div>
                    <div class="driver_row">
                        <span>En curso</span>
                        <b>16:12</b>
                    </div>
                </div>
                <div class="status">
                    <button style="height: 100%; width:100%;" color="accent" 
                        mat-raised-button type=button>
                        <b>Pedido</b>
                    </button>
                </div>
                <div class="price">
                    <button style="height: 100%; width:100%;" color="primary"
                         mat-raised-button type=button>
                        <b>S/.106.00</b>
                    </button>
                </div>
          </div>
        </div> -->

        <div *ngFor="let sale of salesFiltered | paginate: { itemsPerPage: 10, currentPage: p }"
            class="list-parent-container "
            [class.shadow-color]="(detailSubject | async)?.id == sale.id">

          <div matRipple class="list-container background-color" (click)="onSelectDetail(sale)">
                <div class="general">
                    <div style="font-size: 24px;">
                        <b>#{{sale.correlativeType}}{{getCorrelative(sale.correlative)}}</b>
                    </div>
                    <div>
                        <mat-icon color="primary">assignment_turned_in</mat-icon>
                        Paola Ruiz
                    </div>
                    <div>
                        <mat-icon style="font-size:20px;"
                            color="primary">assignment_turned_in</mat-icon>
                        01/06/2020
                    </div>
                    <div>
                        <mat-icon style="font-size:20px;"
                            color="primary">directions_bike</mat-icon>
                        21/10/2020
                    </div>
                </div>
                <div class="client">
                    <mat-icon>group</mat-icon>
                    <b *ngIf="sale.requestingUser$ | async as userName else noUser"> {{userName}}</b>
                    <ng-template #noUser>
                        <b>Sin Nombre</b>
                    </ng-template>
                </div>
                <div class="document">
                    <b>Agregar comprobante</b>
                </div>
                <div class="driver">
                    <div class="driver_header">
                        <mat-icon>directions_bike</mat-icon>
                        <span>José Romero</span>
                        <mat-icon>phone_in_talk</mat-icon>
                    </div>
                    <div class="driver_row">
                        <span>Asignado</span>
                        <b>14:21</b>
                    </div>
                    <div class="driver_row">
                        <span>En curso</span>
                        <b>16:12</b>
                    </div>
                </div>
                <div class="status">
                    <button style="height: 100%; width:100%;" color="accent" 
                        mat-raised-button type=button>
                        <b>Pedido</b>
                    </button>
                </div>
                <div class="price">
                    <button style="height: 100%; width:100%;" color="primary"
                         mat-raised-button type=button>
                        <b>{{(giveTotalPrice(sale) + sale.deliveryPrice) | currency:'S/.'}}</b>
                    </button>
                </div>
          </div>
        </div>

          <div style="display:flex; flex-direction: row; justify-content: center;">
              <pagination-controls (pageChange)="p = $event" previousLabel="" nextLabel="" maxSize="6">
              </pagination-controls>
          </div>
      </ng-container>

  </ng-container>

</div>

<ng-template #noSales>
  <div class="w3-container w3-center  w3-round-large mat-elevation-z8 w3-margin-top w3-margin-bottom">
      <h2 style="font-family: Raleway; color: dimgray">
          No hay resultados
      </h2>
  </div>
</ng-template>