<div style="height: 100%; padding: 0 16px" 
  class="w3-section w3-margin-left w3-margin-right animated fadeInUp delay-2">
  <div style="padding: 0 3vw;">
    <!-- <h2 class="title"><mat-icon style="margin-right: 8px;">local_offer</mat-icon>Lista de Productos</h2>
    <mat-divider></mat-divider> -->
    <div style="margin-top: 1em;">
      <mat-tab-group>
        <mat-tab label="Productos"><app-products-list></app-products-list></mat-tab>
        <mat-tab label="Paquetes"><app-packages-list></app-packages-list></mat-tab>
        <mat-tab label="Ingresos"><app-product-entry></app-product-entry></mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
