<div class="w3-section w3-margin-left w3-margin-right">
    <div class="w3-row">
        <div class="w3-col s0 m1 l1">
            <p class="w3-hide-small"></p>
        </div>
        <div class="w3-col s12 m10 l10">
            <div *ngIf="categories$ | async as categories" class="ms-flex w3-margin-top"
                style="justify-content: space-between;">
                <div *ngFor="let category of categories" class="category-div" (click)="navigate(category['name'])" >
                    <img [defaultImage]="defaultImage" [lazyLoad]="category['photoURL']" [offset]="100"
                        class="category-img">
                </div>
            </div>
        </div>
        <div class="w3-col s0 m1 l1">
            <p></p>
        </div>
    </div>

</div>